.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: flex;
  max-width: 180px;
  background: inherit;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
}
